li {
  list-style: none;
  transition: 0.5s all;
  padding: 0;
  min-height: 25px;
}

span {
  margin: 0 4px;
}

.destacado {
  background: #9c27b0;
  padding: 15px;
  color: #fff;
}

li[data-seleccionado]:not(.destacado){
  background: silver;
}
