<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/libros']">Libros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <button class="mostrar-libros" (click)="mostrarLista = !mostrarLista"> <i class="fas fa-book"></i> </button>

    <div class="misLibros" *ngIf="mostrarLista">
      <h2>Mis Libros</h2>
      <ul>
        <li>El retrato de Dorian Gray.</li>
        <li>Frankenstein.</li>
      </ul>
    </div>

    <h1>Club de Libros</h1>
  </div>
</div>
